@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #f1f5f9;
  --layout: #ffffff;
  --opposite: #000000;
  --ct1: #f1f5f9;
  --ct2: #e2e8f0;
  --ct3: #cbd5e1;
  --ct4: #94a3b8;
  --ct5: #64748b;
  --ct6: #475569;
  --ct7: #334155;
  --ct8: #1e293b;
  --ct9: #0f172a;
}

.dark {
  --background: #000000;
  --layout: rgb(15, 23, 42);
  --opposite: #ffffff;
  --ct9: #f1f5f9;
  --ct8: #e2e8f0;
  --ct7: #cbd5e1;
  --ct6: #94a3b8;
  --ct5: #64748b;
  --ct4: #475569;
  --ct3: #334155;
  --ct2: #1e293b;
  --ct1: #0f172a;
  color: var(--ct8);
}

:root {
  --blue500: rgb(59, 130, 246);
}

.lesson-content h3 {
  color: var(--ct9);
  font-weight: 500;
  font-size: max(1.2vw, 12px);
}

.hl {
  color: var(--ct9);
  font-weight: 500;
}

.list-ul {
  list-style: disc;
  margin-left: 20px;
}

.list-ol {
  list-style: decimal;
  margin-left: 20px;
}

.list-ol::marker {
  color: var(--opposite);
}

.list-ul::marker {
  color: var(--opposite);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #64748b;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.slick-slide > div {
  margin-inline: max(1vw, 10px);
}

.slick-next::before,
.slick-prev::before {
  display: none;
}

.slick-prev,
.slick-next {
  position: static !important;
  width: 5rem !important;
}

.slick-slider {
  display: flex !important;
  align-items: center;
}

.CodeMirror:focus,
.cm-focused {
  outline: none !important;
}

#compiler ol {
  list-style: decimal;
  margin-left: 20px;
}

#compiler ul {
  list-style: circle;
  margin-left: 20px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.auth-error-modal {
  animation: show 100ms linear forwards;
}

.op {
  opacity: 0.5;
}

input.radio {
  display: none;
}

label.radio {
  margin-left: 1.5rem;
  position: relative;
  cursor: pointer;
}

label.radio::before {
  position: absolute;
  content: "";
  outline: 1px solid var(--ct7);
  width: 1rem;
  height: 1rem;
  left: -1.5rem;
  border-radius: 10%;
  cursor: pointer;
  transition: all 100ms linear;
  box-sizing: border-box;
  border: 0.2rem solid var(--layout);
}

.light input.radio:checked + label::before {
  background-color: rgba(0, 155, 255, 0.5);
}

.dark input.radio:checked + label::before {
  background-color: rgba(0, 155, 255, 0.8);
}
