@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.slick-slide > div {
  margin-inline: max(1vw, 10px);
}

.slick-next::before,
.slick-prev::before {
  display: none;
}

.slick-prev,
.slick-next {
  position: static !important;
  width: 5rem !important;
}

.slick-slider {
  display: flex !important;
  align-items: center;
}

.CodeMirror:focus,
.cm-focused {
  outline: none !important;
}

#compiler ol {
  list-style: decimal;
  margin-left: 20px;
}

#compiler ul {
  list-style: circle;
  margin-left: 20px;
}
